body{
    background-color: rgb(236, 220, 196);
    margin:0px;
}

.INTRO{
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid rgb(50, 82, 50);

    /*폰트 적용*/
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color:white;

    margin: 0px;
    background-color: rgb(50, 82, 50);
}

.grid{
    /*list와 비디오 한 줄로 나열하기*/
    display: grid;
    grid-template-columns: 25% 1fr;
    
}

#menu{
    border-right: 2px solid rgb(50, 82, 50);
}

button{
    margin-left: 20%;
}

#m1{
    margin-left: 10%;
    margin-right: 10%;
}

.list{
    padding: 25px;
    border-right: 2px solid rgb(50, 82, 50);
}

#back{
    /*처음으로 돌아가기*/
    background-color: rgb(50, 82, 50);
    color:white;
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}


video{

    padding-top: 5%;
    padding-left: 20%;
    padding-right: 10%;
    width: 70%;
}


.season{
    padding: 15%;
    width: 70%;
    max-width: 120px;
    /*가운데 정렬*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#select{
    max-width: 60px;
    width: 60px;
}


blockquote{
    background-color:rgb(50, 82, 50);
    color: white;
    margin-left: 17.5%;    
    width: 75%;    
    font-size: 20px;
}

h2{
     /*폰트 적용*/
     font-family: "Dancing Script", cursive;
     font-optical-sizing: auto;
     font-weight: 600;
     font-style: normal;
     color:rgb(155, 44, 0);
     text-align: center;

     margin-top: 40px;
     margin-left: 12.5%;
}

h3{
    margin-top: 15%;
    margin-left: 15%;
    margin-bottom: 5%;
}


h4{
    margin-top: 15%;
    margin-left: 15%;    
    width: 80%;  
    color: rgb(155, 44, 0);
}

h5{
    text-align: center;
    padding-left: 20%;
    padding-right: 10%;
}

.photo{
    padding-top: 10px;
    padding-left: 20%;
    padding-right: 10%;
    width: 70%;
}

.timenow{
    text-align: center;
}

footer{
    border-top: solid 2px rgb(50, 82, 50);
}